@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../public/fonts/Roboto-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src: url('../public/fonts/SourceSansPro-Regular.ttf') format('truetype');
    src: url('../public/fonts/SourceSansPro-SemiBold.ttf') format('truetype') font-weight-semi-bold;
}


:root {
    --text-color: black;
    --background-color: white;
    --button-color: rgb(238, 237, 237);
    --button-border-color: black;
    --hover-color: rgb(216, 229, 231);
    --svg-filter: invert(40%) sepia(6%) saturate(0%) hue-rotate(129deg) brightness(93%) contrast(82%);
}

[data-theme="dark"] {
    --text-color: white;
    --background-color: rgb(34, 33, 33);
    --button-color: rgb(77, 75, 75);
    --button-border-color: rgb(219, 218, 218);
    --hover-color: rgb(128, 139, 141);
    --svg-filter: invert(100%) sepia(0%) saturate(1218%) hue-rotate(250deg) brightness(112%) contrast(107%);
}

html {
    width: 280px;
    min-height: 100px;
    padding: 5px;
    position: relative;
    background-color: var(--background-color);
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

#main-content,
#error-container {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    padding: 1em;
}

#logo>img {
    width: 200px;
}

#icons {
    gap: 1em;
    position: absolute;
    top: 4em;
    right: 1.5em;
    display: flex;
    flex-direction: row;
}


.body-icon {
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: .5em;
    cursor: pointer;
}

.body-icon>img {
    height: 1.8em;
    padding: .2em;
}


.body-icon>img {
    filter: invert(86%) sepia(4%) saturate(161%) hue-rotate(131deg) brightness(82%) contrast(89%);
}

.body-icon:not(.no-pointer, .red-on-hover)>img:hover {
    filter: var(--svg-filter);
}

.hidden {
    height: 0;
    width: 0;
    padding: 0;
}

.file-selected {
    width: fit-content !important;
    max-width: 240px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent !important;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.input-label {
    flex-grow: 1;
    color: var(--text-color);
    text-align: center;
    line-height: 1.95em;
    height: 1.95em;
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    background-color: var(--button-color);
    white-space: nowrap;
    cursor: pointer;
}

.reg-button {
    font-size: 1em;
    color: var(--text-color);
    width: 10em;
    height: 2.2em;
    border-radius: 5px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    white-space: nowrap;
    cursor: pointer;
}

.reg-button:focus,
.reg-button:hover,
.input-label:focus,
.input-label:hover {
    background-color: var(--hover-color) !important;
}

.notification {
    display: flex;
    align-items: center;
    height: 2.2em;
    width: fit-content;
    color: var(--text-color);
    /* text-align: center; */
}

.upload-div {
    display: flex;
    gap: .5em;
    width: 10em;
}

#error-div-small {
    color: #f1f5f5;
    border-radius: 0.5em;
    background-color: rgb(121, 37, 37);
    width: 100%;
    padding: 1em;
}