/* Shadow root */

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../public/fonts/Roboto-Regular.ttf');
  src: url('../public/fonts/Roboto-Medium.ttf');
  src: url('../public/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('../public/fonts/SourceSansPro-Regular.ttf') format('truetype');
  src: url('../public/fonts/SourceSansPro-SemiBold.ttf') format('truetype') font-weight-semi-bold;
}

:host {
  all: initial;
  color-scheme: light;
  background-color: var(--background-color);
  color: var(--text-color);
  --color-scheme: light;
  --text-color: black;
  --background-color: #f9f9f9;
  --not-selected-color: rgb(112, 112, 112);
  --menu-color: rgb(228 228 228);
  --accent-color: rgb(179 178 178);
  --svg-base-filter: invert(46%) sepia(0%) saturate(1033%) hue-rotate(251deg) brightness(95%) contrast(92%);
  --svg-hover-filter: invert(4%) sepia(5%) saturate(684%) hue-rotate(314deg) brightness(100%) contrast(88%);
  --shadow-color: rgb(34, 34, 34);
  --error-color: rgb(227, 146, 146);
  --blue: #54a5c9;
  --gold: rgb(209, 154, 0);
}

[data-theme="dark"] {
  color-scheme: dark;
  background-color: var(--background-color);
  color: var(--text-color);
  --color-scheme: dark;
  --text-color: #f1f5f5;
  --background-color: rgb(34, 34, 34);
  --not-selected-color: #b9bdbd;
  --menu-color: #323232;
  --accent-color: #686868;
  --svg-base-filter: invert(85%) sepia(9%) saturate(69%) hue-rotate(131deg) brightness(91%) contrast(85%);
  --svg-hover-filter: invert(99%) sepia(15%) saturate(75%) hue-rotate(106deg) brightness(98%) contrast(95%);
  --shadow-color: black;
  --error-color: rgb(121, 37, 37);
  --blue: #54a5c9;
  --gold: rgb(239 190 53);
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  color-scheme: var(--color-scheme);
}

::-webkit-scrollbar {
  background-color: var(--menu-color);
  width: .75em;
  height: .75em;
}

table ::-webkit-scrollbar {
  background-color: transparent;
  width: .75em;
  height: .75em;
}

::-webkit-scrollbar-track {
  border-radius: .5em;
  margin-block: .5em;
  background-color: var(--background-color);
  border: .1em solid var(--menu-color);
}

::-webkit-scrollbar-thumb {
  border-radius: .5em;
  border: .1em solid var(--background-color);
  background-color: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--not-selected-color);
}

button,
input {
  font-family: 'Source Sans Pro', sans-serif;
}


/* Sidebar */

#sidebar {
  all: initial;
  position: fixed;
  top: 0;
  width: 35em;
  z-index: 99999999;
  box-shadow: 0 0px 5px 2px;
  background-color: var(--background-color);
}

#sidebar-resizer {
  position: absolute;
  height: 100%;
  width: 1em;
  cursor: ew-resize;
}

.closed-sidebar>div {
  width: min-content;
  margin: 0 auto;
  padding-top: 1em;
}

#sidebar-content {
  color: var(--text-color);
  height: 100vh;
}

#main-icons {
  position: absolute;
  top: .8em;
  right: .8em;
  display: flex;
  align-items: center;
  gap: .7em;
}

#main-icons>div>img {
  height: 1.1em;
}

#logo {
  top: .75em;
  left: .8em;
  position: absolute;
}

#logo>img {
  width: 12.5em;
  user-select: none;
}

#main-content-container {
  margin-top: 4em;
}

#main-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5em);
}



.confirm-box {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8em;
  padding: .8em 1.6em;
  background-color: var(--menu-color);
  box-shadow: 0.4em 0.4em 0.5em 0.2em var(--shadow-color);
  border-radius: .5em;
  position: absolute;
  z-index: 3;
}


/* Panel Select */

#panel-select {
  margin: 0 0 .5em 2em;
  display: flex;
  gap: 1.5em;
}

.panel-select-item-wrapper {
  display: flex;
  cursor: pointer;
  gap: .3em;
}

.panel-select-item {
  color: var(--not-selected-color);
  font-size: 1.2em;
  padding: .3em .1em;
  border-bottom: .15em solid transparent;
  margin-bottom: .3em;
}

.active-panel-item {
  color: var(--text-color);
  border-color: inherit;
}

.panel-select-item-wrapper:hover>.panel-select-item:not(.active-panel-item) {
  color: var(--text-color);
  border-color: var(--not-selected-color);
}


/* Panel */
#panel-container {
  display: flex;
  min-height: 0;
  flex-basis: 100%;
}

.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: .2em solid var(--menu-color);
  border-radius: .5em;
  margin: 0 1em;
}

.panel-header {
  padding: .2em 0;
  display: grid;
  align-items: center;
  font-weight: 600;
  grid-template-rows: 2.227em;
  color: var(--text-color);
  background-color: var(--menu-color);
  border-bottom: 0.1em solid var(--accent-color);
}

.p-header-2-center {
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.hidden-tab-header {
  color: var(--not-selected-color);
  cursor: pointer;
}

.hidden-tab-header:hover {
  color: var(--text-color);
}

.header-title>span {
  position: absolute;
  margin-left: .2em;
  margin-top: .4em;
}

.scrollable-y {
  overflow-y: auto;
}

.shaded {
  background-color: var(--menu-color);
}


/* Table */

.table-wrapper {
  overflow-y: auto;
}

.table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: var(--menu-color);
}

td {
  padding: 0 .5em 1em .5em;
}

th {
  height: 2.5em;
  border-bottom: 0.1em solid var(--accent-color);
  font-weight: 600;
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: var(--menu-color);
}


/* Buttons, icons, loading spinners */

.reg-button {
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--text-color);
  border: 0.1em solid var(--text-color);
  border-radius: 0.5em;
  font-size: .8em;
  padding: 0.3em 0.7em;
  background-color: var(--menu-color);
}

.reg-button:focus,
.reg-button:hover {
  background-color: var(--not-selected-color);
  color: var(--background-color);
}


.body-icon,
.globe-link-icon {
  border-radius: .5em;
  cursor: pointer;
}

.med-icon>img {
  height: 1em;
}

.small-icon>img {
  height: .75em;
}

.body-icon>img {
  filter: var(--svg-base-filter);
}


.globe-link-icon>img {
  height: .9em;
  filter: var(--svg-base-filter)
}

.body-icon:not(.no-pointer, .red-on-hover)>img:hover {
  filter: var(--svg-hover-filter);
}

.no-pointer {
  cursor: default;
}

.red>img {
  filter: invert(16%) sepia(46%) saturate(4142%) hue-rotate(344deg) brightness(113%) contrast(79%);
}

.red-on-hover>img:hover {
  filter: invert(16%) sepia(46%) saturate(4142%) hue-rotate(344deg) brightness(113%) contrast(79%);
}

.watchlist-icons {
  text-align: initial;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0.2em;
  left: 0.23em;
  gap: 0.5em;
}

.loading-div-container,
.empty-panel-container {
  position: relative;
  height: 100%;
}


.loading-div,
.empty-panel {
  padding: 5em 2em 0;
  top: 25%;
  color: var(--text-color);
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.loading-div>img {
  height: 7.5em;
}

.loading-spinner,
.loading-spinner-large {
  align-self: center;
  aspect-ratio: 1;
  border-radius: 50% !important;
  border-color: var(--blue) !important;
  border-right-color: var(--gold) !important;
  animation: s2 1s infinite linear;
}

.loading-spinner {
  height: .75em;
  border: .2em solid;
}

.loading-spinner-large {
  height: 1em;
  border: .4em solid
}

.loading-spinner:hover,
.loading-spinner-large:hover {
  background-color: transparent !important;
}

@keyframes s2 {
  to {
    transform: rotate(1turn)
  }
}

.twitter-button>img {
  height: .9em;
}

.update-and-loading>.loading-spinner,
.update-and-loading>.update-dot {
  margin-top: -.4em;
}

.update-and-loading {
  display: flex;
  width: 1em;
}

/* Content elements */

.term {
  font-weight: 500;
  margin-left: 2.2em;
}

.top-term-result {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

a.repo-link:link {
  color: var(--gold);
  font-family: 'Roboto Mono', sans-serif;
  font-size: .9em;
  overflow-wrap: anywhere;
}

a.repo-link:visited {
  color: rgb(175, 141, 48);
}

a:link {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: #72b0ca;
}

a.link-no-color:link {
  color: var(--text-color);
}

a.link-no-color:visited {
  color: var(--not-selected-color);
}

a:hover {
  text-decoration: underline;
}

.content-text-small {
  font-size: .9em;
}

.latest-cell {
  padding: 1em 1em 1em 2em;
  display: flex;
  flex-direction: column;
  gap: .25em
}

.author-list-cell {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  gap: 2em;
}

.author-list-cell-wrapper {
  margin: 1em 0 1em 0;
  max-height: 20em;
  overflow-y: auto;
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
}

ul {
  padding-left: 1em;
}

#error-div {
  color: var(--text-color);
  background-color: var(--error-color);
  width: 23em;
}

#error-div-small {
  height: fit-content;
  color: var(--text-color);
  border-radius: 0.5em;
  background-color: var(--error-color);
  padding: 0.3em;
}

.error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Utility */

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row-small-gap {
  gap: .5em;
  display: flex;
}

.flex-row-align-down-small-gap {
  display: flex;
  align-items: flex-end;
  gap: .5em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-gap-point-5-em {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.font-point-85em {
  font-size: .85em;
}

.display-none {
  display: none
}

.hidden {
  height: 0;
  width: 0;
  padding: 0;
}

.invisible {
  visibility: hidden;
}

.cell-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .2em;
}

.padding-left-1em {
  padding-left: 1em;
}

.paler {
  color: var(--not-selected-color)
}

.pull-left-slight {
  margin-left: -.4em;
}

.top-align {
  vertical-align: top;
}

.margin-1em-except-right {
  margin: 1em 0 1em 1em;
}

.line-height-1-3em {
  font-size: 1em;
  line-height: 1.3em;
}

.margin-left-1-5em {
  margin-left: 1.5em;
}

.margin-left-point-2em {
  margin-left: .2em;
}


.margin-t-b-point-8em {
  margin: .8em 0;
}

.padding-top-point-2em {
  padding-top: .2em;
}

.margin-top-point-2em {
  margin-top: .2em;
}

.list-style-none {
  list-style: none;
}

.padding-right-point-2em {
  padding-right: .2em;
}

.padding-top-1em {
  padding-top: 1em;
}

.pos-relative {
  position: relative;
}

.width-1em-img>img {
  width: 1em;
}

.width-point-9em-img>img {
  width: .9em;
}

.width-25-pct {
  width: 25%
}

.width-37-pct {
  width: 37.5%;
}

.upper-right {
  transform: scale(.7);
  position: absolute;
  top: .03em;
  right: .1em;
}


/* Misc */

.action-element {
  width: 1em;
}

#blank-fill {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  margin: 0;
  z-index: 2
}

/* .bullet {
  padding: 0 .5em;
  font-size: 1.2em;
} */

.from-model {
  background-color: var(--gold);
  color: var(--text-color);
  border-radius: .5em;
}

ul.list-bullet-blue li::marker {
  color: var(--blue);
}

.update-dot {
  align-self: center;
  margin-left: .2em;
  height: .6em;
  width: .6em;
  border-radius: 50%;
  background-color: var(--gold);
}

.update-dot-exit {
  opacity: 1;
}

.update-dot-exit-active {
  opacity: 0;
  transition: opacity 1s;
}


/* Web app only */

.file-label {
  background-color: #507a8b;
}

.highlight {
  background-color: aqua;
  color: rgb(34, 33, 33)
}

.underlay-image {
  position: absolute;
  top: -.3em;
  left: .7em;
  /* filter: invert(60%) sepia(19%) saturate(1447%) hue-rotate(144deg) brightness(94%) contrast(88%); */
}