@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
  src: url('../public/fonts/Roboto-Medium.ttf') format('truetype');
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('../public/fonts/SourceSansPro-Regular.ttf') format('truetype');
  src: url('../public/fonts/SourceSansPro-SemiBold.ttf') format('truetype') font-weight-semi-bold;
} */


html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  color-scheme: light;
  background-color: var(--background-color);
  color: black;
  --header-hover: darkgray;
  --text-color: black;
  --background-color: white;
  --button-hover-color: white;
  --panel-header-foreground: black;
  --panel-header-background: rgb(230, 230, 230);
  --panel-border: rgb(212, 212, 212);
  --panel-footer-background: rgb(196, 227, 240);
  --button-color: rgb(230, 230, 230);
  --menu-item-foreground: black;
  --menu-item-header-background: rgb(196, 227, 240);
  --menu-item-header-border: rgb(161, 203, 221);
  --shaded-color: rgb(161, 203, 221);
  --menu-item-header-hover: rgb(161, 203, 221);
  --menu-content-border: rgb(212, 212, 212);
  --menu-content-hover: rgb(230, 230, 230);
  --web-link-color: rgb(12, 12, 190);
  --web-link-visited-color: rgb(100, 1, 100);
  --svg-filter: invert(40%) sepia(6%) saturate(0%) hue-rotate(129deg) brightness(93%) contrast(82%);
}

[data-theme="dark"] {
  color-scheme: dark;
  background-color: var(--background-color);
  color: #f1f5f5;
  --header-hover: lightgray;
  --text-color: #f1f5f5;
  ;
  --background-color: rgb(34, 34, 34);
  --button-hover-color: rgb(44, 44, 44);
  --panel-header-foreground: #f1f5f5;
  --panel-header-background: rgb(59, 59, 59);
  --button-color: rgb(59, 59, 59);
  --panel-border: rgb(59, 59, 59);
  --panel-footer-background: rgb(87, 87, 87);
  --menu-item-header-background: rgb(87, 87, 87);
  --menu-item-header-hover: rgb(75, 75, 75);
  --menu-item-foreground: #f1f5f5;
  --menu-item-header-border: gray;
  --shaded-color: rgb(87, 87, 87);
  --menu-content-hover: rgb(48, 47, 47);
  --menu-content-border: rgb(59, 59, 59);
  --web-link-color: rgb(203, 233, 241);
  --web-link-visited-color: rgb(218, 125, 218);
  --svg-filter: invert(100%) sepia(0%) saturate(1218%) hue-rotate(250deg) brightness(112%) contrast(107%);
}

/* Main and header */
#root {
  color-scheme: var(--color-scheme);
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  box-sizing: border-box;
}

#main-content {
  /* height: calc(100vh - 7rem); */
  min-height: calc(100vh - 10rem);
  max-height: calc(100vh - 10rem);
  display: flex;
  box-sizing: border-box;
  font-size: 1.6rem;
}

#main-split {
  display: flex;
  box-sizing: border-box;
  width: 100%
}

#side-panel {
  display: flex;
  flex-direction: column;
  width: 22rem;
  border: solid var(--panel-border);
  border-width: .2rem 0 .2rem .2rem;
  border-radius: .5rem 0 0 .5rem;
  box-sizing: border-box;
  overflow: hidden;
}

#side-panel-content {
  margin-top: .5rem;
}

.attached-left {
  border-radius: 0 .5rem .5rem 0 !important;
  border-left: 0rem !important;
}

.gutter-vertical {
  cursor: n-resize;
}

.gutter-horizontal {
  cursor: ew-resize;
}

#app-header {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
}

#app-header>img {
  height: 2.5rem;
}

.settings {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.settings-icon>img {
  display: block;
  height: 2rem;
  padding: .5rem;
}

.settings-icon-label {
  height: 3rem;
}

.settings-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.settings-icon>img:not(.underlay-image) {
  filter: var(--svg-filter);
}

.settings-icon:hover {
  background-color: var(--menu-item-header-background);
}


/* Panel */
.panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: .2rem solid var(--panel-border);
  border-radius: .5rem;
  box-sizing: border-box;
  overflow: hidden;
}


.panel-header {
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  grid-template-rows: 2.2rem;
  color: var(--panel-header-foreground);
  background-color: var(--panel-header-background);
  overflow-x: hidden;
  padding: 1rem;
  height: 2.5rem;
  flex-shrink: 0;
}

.p-header-2-center {
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.p-header-1-left-1-center {
  grid-template-columns: 1fr auto 1fr;
}



/* .panel-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 2.2rem;
  align-items: center;
  justify-content: stretch;
  font-weight: 600;
  color: var(--panel-header-foreground);
  background-color: var(--panel-header-background);
  text-overflow: ellipsis;
  overflow-x: hidden;
  flex-shrink: 0;
  padding: 1rem;
  height: 2.5rem;
} */



/* .panel-header,
.panel-header {
  height: 2.5rem;
} */

.header-title>span {
  position: absolute;
  margin-left: .2rem;
}

.panel-footer {
  color: var(--panel-header-foreground);
  background-color: var(--panel-footer-background);
  padding: 1rem .5rem 1rem 2rem;
  border-top-left-radius: .5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.scrollable-y {
  overflow-y: auto;
}

.top-left {
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.padding-right-1rem {
  padding-right: 1rem;
}

.side-panel-item {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1rem;
  color: #b1b8b8;
  cursor: pointer;
  margin-right: .7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-panel-item {
  color: var(--text-color);

}

.side-panel-item:not(.active-panel-item):hover {
  color: #D7DDDD;
}


.menu-content>div {
  border-bottom: .1rem solid var(--menu-content-border);
  padding: 1rem 1rem 1rem 2rem;
  cursor: pointer;
}

.menu-content>div:hover {
  background-color: var(--menu-content-hover);
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

.term-results-table {
  table-layout: auto;
  border-collapse: collapse;
  /* width: 100%; */
  font-weight: 400;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-weight: 400;
}


.width-25-pct {
  width: 25%
}

.width-37-pct {
  width: 37.5%;
}

/* Results */
.hidden-tab-header {
  color: var(--menu-item-header-border);
  cursor: pointer;
}

.hidden-tab-header:hover {
  color: var(--header-hover);
}

/* Results: table */
tr:nth-child(even) {
  background-color: var(--panel-header-background);
}

.center-align {
  text-align: center;
}

td {
  padding: .4rem 1rem .4rem 1rem;
}

td:first-of-type {
  border-radius: .5rem 0 0 .5rem;
}

th:first-of-type {
  border-bottom-left-radius: .5rem;
}


th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  font-weight: 600;
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: var(--menu-item-header-background);
}

tr {
  height: 2.5em;
}

.author-watchlist-row {
  height: 4em;
}

.scale-point-8 {
  transform: scale(.9);
}


.relative {
  position: relative;
}

.empty-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 2rem;
}

/* Misc */
input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
}

input[type='text'] {
  font-size: 1.6rem;
}

#empty-results {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: x-large;
  color: var(--text-color);
}

.loading-div {
  color: var(--text-color);
  font-size: 1.8rem;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.default-panel {
  color: var(--text-color);
  font-size: 1.8rem;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}


.loading-div>img {
  height: 7.5rem;
}

.loading-spinner {
  align-self: center;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 .05rem 0 .05rem;
  aspect-ratio: 1;
  border-radius: 50% !important;
  border: .2rem solid #87d0f0;
  border-right-color: rgb(243, 196, 65);

  animation: s2 1s infinite linear;
}

.loading-spinner-large {
  align-self: center;
  width: 3rem;
  height: 3rem;
  margin: 0 .05rem 0 .05rem;
  aspect-ratio: 1;
  border-radius: 50% !important;
  border: .6rem solid #87d0f0;
  border-right-color: rgb(243, 196, 65);

  animation: s2 1s infinite linear;
}



.loading-spinner:hover,
.loading-spinner-large:hover {
  background-color: transparent !important;
}

@keyframes s2 {
  to {
    transform: rotate(1turn)
  }
}



.reg-button {
  font-size: 1.6rem;
  padding: .5rem 1rem .5rem 1rem;
  border-radius: .5rem;
  border: .1rem solid var(--text-color);
  color: var(--text-color);
  background-color: var(--panel-header-background);
  white-space: nowrap;
  cursor: pointer;
}

.reg-button:focus,
.reg-button:hover {
  background-color: var(--button-hover-color);
}

/* .padding-left {
  padding-left: 2em;
} */

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.author-row {
  display: flex;
  align-items: flex-end;
  /* align-items: center; */
  font-size: 1.4rem;
  gap: .5rem;
}

.flex-column-med-gap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.flex-row-small-gap {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.flex-row-very-small-gap {
  display: flex;
  align-items: center;
}

.hidden {
  height: 0;
  width: 0;
  padding: 0;
}

.centered-xy {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.indent-left {
  margin-left: -.4rem;
}

.cell-flex-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: .2em;
}

.cell-flex-column {
  margin: 1.5rem 0 1.5rem 0;
  max-height: 20rem;
  overflow-y: auto;
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
}

.top-align {
  vertical-align: top;
}

.top-bottom-margin {
  margin: 1rem 0;
}


.repo-author,
.repo-name {
  font-family: Roboto Mono;
  font-size: 1.4rem;
}

.recent-paragraph {
  margin: .8rem 0;
}

.post-text {
  font-size: 1.5rem;
  line-height: 2.2rem;
  /* overflow: auto; */
}

.post-title {
  font-weight: 600;
}

.repo-title {
  font-weight: 500;
}

.repo-name-larger {
  font-family: Roboto Mono;
  font-size: 1.5rem;
}

.bullet {
  padding: 0 .5rem;
  font-size: 1.7rem;
}

.repo-name-small {
  font-family: Roboto Mono;
  font-size: 1.3rem;
}

.twitter-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter-button>img {
  height: 1.5rem;
  padding: .3rem;
}

.body-icon,
.body-icon-white {
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: .5rem;
  cursor: pointer;
}

.body-icon>img {
  height: 1.3rem;
  width: 1.3rem;
  padding: .3rem;
}

.body-icon-white>img {
  height: 1.5rem;
  width: 1.5rem;
  padding: .3rem;
}

.no-pointer {
  cursor: default;
}


.body-icon>img {
  filter: invert(86%) sepia(4%) saturate(161%) hue-rotate(131deg) brightness(82%) contrast(89%);
}

.body-icon:not(.no-pointer, .red-on-hover)>img:hover {
  filter: var(--svg-filter);
}

.body-icon-white {
  filter: invert(99%) sepia(66%) saturate(186%) hue-rotate(151deg) brightness(103%) contrast(92%);
}

a.repo-link:link {
  color: rgb(243, 196, 65);
  text-decoration: none;
}

a.repo-link:visited {
  color: rgb(175, 141, 48);
}

a:link {
  color: #87d0f0;
  text-decoration: none;
}

a:visited {
  color: #72b0ca;
}

a.link-no-color:link {
  color: var(--text-color);
}

a.link-no-color:visited {
  color: #b1b8b8;
}

a:hover,
a.repo-link:hover {
  text-decoration: underline;
}

.shaded {
  background-color: var(--panel-header-background);
}

.left-indented {
  margin: 1.5rem 0 1.5rem 1.5rem;
}

.rounded-left-side {
  border-radius: .5rem 0 0 .5rem;
}

.rounded-bottom-left {
  border-bottom-left-radius: .5rem;
}

.rounded-top-left {
  border-top-left-radius: .5rem;
}

.list-style-none {
  list-style: none;
}


ul.list-bullet-blue li::marker {
  color: #87d0f0;
}

.recent-cell-flex-column {
  padding: 2rem 2rem 2rem 2.8rem;
  display: flex;
  width: 60rem;
  flex-direction: column;
  gap: .5rem
}

.text-block-flex-column {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.red>img {
  filter: invert(16%) sepia(46%) saturate(4142%) hue-rotate(344deg) brightness(113%) contrast(79%);
}

.red-on-hover>img:hover {
  filter: invert(16%) sepia(46%) saturate(4142%) hue-rotate(344deg) brightness(113%) contrast(79%);
}

.text-block-flex-column-med-gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 0 1rem 0;
  align-content: center;
}

.heading-text-small-gap-div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-content: center;
}

.heading-text-no-gap-div {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.text-block-flex-column-big-gap {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  gap: 2rem;
}

.text-block-flex-row {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
}


.text-panel {
  padding: 2rem;
  overflow-y: auto;
  overflow-x: auto;
  overflow-wrap: break-word;
}

.search-bar-div {
  display: flex;
  align-items: center;
  align-content: stretch;
  width: 40rem;
  color: var(--text-color);
  background-color: var(--background-color);
  border: .1rem solid var(--text-color);
  border-radius: .5rem;
  height: 2rem;
  padding: .7rem;
}

.search-bar-input {
  width: 100%;
  color: var(--text-color);
  background-color: transparent;
  border-color: transparent;
}

.search-bar-input:focus {
  outline: 0;
}


.from-model {
  background-color: rgb(255, 208, 0);
  color: rgb(34, 33, 33);
  border-radius: .5rem;
}

.highlight {
  background-color: aqua;
  color: rgb(34, 33, 33)
}

.update-dot {
  align-self: center;
  margin-left: 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(243, 196, 65);
}


.update-dot-exit {
  opacity: 1;
}

.update-dot-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.underlay-image {
  position: absolute;
  top: -.3rem;
  left: .7rem;
  filter: invert(60%) sepia(19%) saturate(1447%) hue-rotate(144deg) brightness(94%) contrast(88%);
}


.file-label {
  background-color: #507a8b;
}

.search-bar-wrapper {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  border-radius: .5rem;
}


.search-bar-wrapper>.body-icon {
  transform: scale(.7);
}

.search-bar-wrapper>.body-icon:hover {
  background-color: transparent;
}

.search-bar-wrapper>input {
  text-overflow: ellipsis;
}

.logo>img {
  height: 3.5rem;
}

ul {
  padding-left: 1.6rem;
}

.small-text {
  font-size: 1.4rem;
}

.width-half-rem {
  width: 3rem;
}